<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Web App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/subirJustificativo}" th:object="${justificado}" method="post">
        <div class="form-group">
            <label for="rut">Ingrese Rut del Empleado</label>
            <input id="rut" type="text" name="rut_emp" th:value="*{rut_empleado}">
        </div>
        <div class="form-group">
            <label for="cubridora">Ingrese la fecha cubridora</label>
            <input id="cubridora" type="text" name="fecha_cu" th:value="*{fecha_cubridora}">
        </div>
        <div class="form-group">
            <label for="emision">Ingrese la fecha de emision</label>
            <input id="emision" type="text" name="fecha_em" th:value="*{fecha_emision}">
        </div>
        <div class="form-group">
            <label for="empresa">Ingrese la empresa emisora</label>
            <input id="empresa" type="text" name="empresa_em" th:value="*{empresa_emisora}">
        </div>
        <div class="form-group">
            <label for="motivos">Ingrese el motivo</label>
            <input id="motivos" type="text" name="motivo_ju" th:value="*{motivo}">
        </div>
        <div class="form-group">
            <label for="firmas">Ingrese la firma</label>
            <input id="firmas" type="text" name="firma_em" th:value="*{firma}">
        </div>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Ingresar</button>
    </form>
</div>
</body>
</html>